<section class="single-wish">
  <div class="title-container">
    <h1>{{ wish.title }}</h1>
    <h5>{{ wish.category }}</h5>
  </div>
  
  <hr>

  <div class="description-container">
     <img src="{{ wish.wishPicture }}" alt="{{ wish.category }} picture">
  </div>
  
  <div id="map-single"></div>

  {{#if isOwner}}
  <div class="buttons-container">
    <a href="/wish/{{ wish._id }}/edit">  
      <button>Edit</button>
    </a>

    <form action="/wish/{{ wish._id }}/delete" method="POST">
      <button>Delete</button>
    </form>
  </div>
  
  {{/if}}
</section>



<script>
  function init () {
    const mapContainerElement = document.getElementById('map-single');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: {{ wish.location.coordinates.[1] }},
        lng: {{ wish.location.coordinates.[0] }}
      },
      zoom: 6
    });
  const longitude = {{ wish.location.coordinates.[1] }};
  const latitude = {{ wish.location.coordinates.[0] }};

  const marker = new window.google.maps.Marker({
    map,
    position: {
      lat: {{ wish.location.coordinates.[1] }},
      lng: {{ wish.location.coordinates.[0] }}
    }
  });
  }
</script>

<script defer src="https://maps.googleapis.com/maps/api/js?key={{ environmentVariables.GOOGLE_MAPS_API_KEY }}&callback=init"></script>
