<h1>{{user.name}}</h1>

<img src="https://res.cloudinary.com/dprjjpxak/image/upload/v1596617608/wbad1mg4wu8tokryhrdo.jpg" alt="{{user.name}}'s Profile Picture">

<h3>Your details</h3>
<p>{{user.status}}</p>
<p>{{user.email}}</p>
<a href="/profile/{{user.id}}/edit">
  <button>Edit your details</button>
</a>

<h3>Your wishes</h3>
{{#each wish}}
<p>{{this.title}}</p>
{{/each}}

<h3>Your wishes in the world</h3>
<div id="map-single"></div>

<script>
  function init() {
    const mapContainerElement = document.getElementById('map-single');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 0,
        lng: 0
      },
      zoom: 1
    });
    const whishes = {{{ json wish }}};
  for (let wish of whishes) {
    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat: wish.location.coordinates[1],
        lng: wish.location.coordinates[0]
      }
    });
    marker.addListener('click', () => {
      const endpoint = `/${place._id}`;
      window.location = endpoint;
    });
  }
  }
</script>

<script defer
  src="https://maps.googleapis.com/maps/api/js?key={{ environmentVariables.GOOGLE_MAPS_API_KEY }}&callback=init"></script>