<h1>{{user.name}}</h1>
<a href="/profile/{{user.id}}/edit">
  <h5>Edit</h5>
</a>


<p>{{user.status}}</p>
<p>{{user.email}}</p>

{{#each wish}}

{{#if this.public}}
<p>{{this.title}}</p>

{{/if }}

{{/each}}