<h1>Welcome to your wishes!</h1>
<div class="wish-list">
  {{#each wishes}}
    <div class="card">
      <a href="/wish/{{ _id }}">

      {{#if hasOwnPicture}}
        <img class="card-img-top" src="{{ wishPicture }}" alt="{{ title }} picture">
      {{else }}
        <img class="card-img-top" src="{{ wishPicture }}{{ category }}" alt="Wish placeholder picture">
      {{/if }}

      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-category">{{ category }}</p>
        <p class="card-text">{{ description }}</p>
        
        {{#if complete}}
          <form action="/home/{{ _id }}/incomplete" method="POST">
            <button class="btn btn-primary">Mark as NOT done</button>
          </form>
        {{else}}
          <form action="/home/{{ _id }}/congratulations" method="GET">
            <button class="btn btn-primary">Marks as done</button>
          </form>
        {{/if}}

      </div>
      </a>
    </div>
  {{/each}}
</div>

{{!--     <div class="wish">
      <a href="/wish/{{ _id }}"><h3>{{ title }}</h3></a>
      <span>{{ category }}</span> --}}

     

    

<form action="/wish/create">
  <button>Add your wish</button>
</form>
