<section class="home-page">

  {{!-- {{Bootstrap with responsive columns}} --}}

  
  {{!-- {{Bootstrap with responsive columns}} --}}

  <div class="container">
    <h1 class="welcome-message">Welcome to Wishthrower!</h1>
    <p class="welcome-text">Flame throw all your wishes here.</br>Make it count. Go wild.</p>
    <div class="row">

      <div class="col-12 col-md-6 col-lg-4 my-3">
        <div class="card card-custom-home card-custom">
          <a href="/wish/create">
            <div class="card-add-new card-body">
              <img src="/images/match.png" alt="Match">
              <h5 class="card-title">Add your wish</h5>
            </div>
          </a>
        </div>
      </div>   

      {{#each wishes}}
      <div class="col-12 col-md-6 col-lg-4 my-3">
  
        <div class="card card-custom">
          <a href="/wish/{{ _id }}">

          <img class="card-img-top" src="{{ wishPicture }}" alt="{{ title }} picture">

          <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <span class="category-tag">{{ category }}</span>

            {{#if this.public}}
              <span class="public-tag">Public</span>
            {{else}}
              <span class="private-tag">Private</span>
            {{/if}}

            
            {{#if complete}}
              <form action="/home/{{ _id }}/incomplete" method="POST">
                <button class="btn btn-primary">Undo</button>
              </form>
            {{else}}
              <form action="/home/{{ _id }}/congratulations" method="GET">
                <button class="btn btn-primary">Complete</button>
              </form>
            {{/if}}

          </div>
          </a>
        </div>
      </div>
    {{/each}}
      
    </div>
  </div>
</section>

     

    


