<section class="home-page">
  <h1 class="pt-3">Welcome to Flame Wisher!</h1>
  <p>Flame throw your wishes here. </p>

  {{!-- {{Bootstrap with responsive columns}} --}}

  
  {{!-- {{Bootstrap with responsive columns}} --}}

  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-4 my-3">
        <div class="card card-custom-home card-custom">
          <a href="/wish/create">
            <div class="card-add-new card-body">
              <h5 class="card-title">Add wish</h5>
            </div>
          </a>
        </div>
      </div>   

      {{#each wishes}}
      <div class="col-12 col-md-6 col-lg-4 my-3">
  
        <div class="card card-custom">
          <a href="/wish/{{ _id }}">

          {{#if hasOwnPicture}}
            <img class="card-img-top" src="{{ wishPicture }}" alt="{{ title }} picture">
          {{else }}
            <img class="card-img-top" src="{{ wishPicture }}{{ category }}" alt="Wish placeholder picture">
          {{/if }}

          <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-category">{{ category }}</p>

            
            {{#if complete}}
              <form action="/home/{{ _id }}/incomplete" method="POST">
                <button class="btn btn-primary">Undo</button>
              </form>
            {{else}}
              <form action="/home/{{ _id }}/congratulations" method="GET">
                <button class="btn btn-primary">Complete</button>
              </form>
            {{/if}}

          </div>
          </a>
        </div>
      </div>
    {{/each}}
      
    </div>
  </div>
</section>

     

    


